/*-----Navigation---*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E5E5E5 ;
  }
  
  .topnav {
      position: relative;
      overflow: hidden;
      background-color: white;
      width: 100%;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    .topnav a {
      float: left;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
    }
    
    .topnav a:hover {
      background-color: black;
      color: white;
      opacity: 0.5;
    }
    
    .topnav a.active {
      color: red;
    }
    
    .topnav-centered a{
      float: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2em;
      color: white;
      text-shadow:  2px 2px 2px black;
    }

   
    
    .topnav-right {
      float: right;
      margin-right: 4%;
    }
    .topnav-left{
        float: left;
        margin-left: 4%;
    }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 1000px) {
.topnav{
    position: relative;
    width: 100%;
}

    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .topnav-right{
      position: relative;
      left: -15px;
    }
  }
  /*---Navigation---*/
  
  

  .container{
      display: flex;
      flex-wrap: wrap;
      max-width: 100%;
      margin-top: 5%;
   
  }

  a{
      text-decoration: none;
      color: black;
      
  }

  .women{
      flex: 50%;
      max-width: 50%;
      position: sticky;
      display: flex;
      justify-content: right;
  }

  .content1{
  margin-right: 20px;
  }

  .women img{
    max-width: auto;
    height: auto;
  }

 
  

  .item1{
      font-weight: 400;
      font-size: 1.5em;  
  }

  .item2{
      font-weight: 400;
      font-size: 1.5em;
      position: relative;
      transform: translate(335px, -130px);
  }
  
  .men{
    flex: 50%;
    max-width: 50%;
    position: sticky;
  }

  .men img{
    max-width: 100%;
    height: auto;
  }

  .item3{
      margin-top: 150px;
      max-width: 100%;
  }

  .item3 p{
    font-weight: 400;
    font-size: 1.5em;
    text-align: end;
    margin-right: 30%;
}

  .item4 {
    font-weight: 400;
    font-size: 1.5em;
    position: relative;
    transform: translate(0px, -120px);
}

.item4 img{
  max-width: 50%;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 60px;

 }

.content3{
  margin-left:15%;
}

.gallery img{
    max-width: 100%;
    height: auto;
}

    .img1{
      margin-left: 10%;
    }
    .img2{
        position: relative;
        margin-top: -2%;
        margin-left: 30%;
        
    }

    footer{
        margin-top: 10%;
        text-align: center;
        padding: 3px;
        background-color: #EEF0EF;
        color: #D2D6D4;
    }



  @media screen and (max-width: 1500px) {

    .container{
        flex-direction: column;
        padding: 0px;
    }

    .women {
        flex-direction: column;
        flex: 100%;
        max-width: 90%;
        padding-left: 1%;
    }

    .content1{
      position: relative;
      left: 3%;
    }

    .item2 {
       flex-direction: column;
       flex: 100%;
       margin-left: 2%;position: relative;
        transform: translate(0px, 0px);
        max-width: 50%;
    }

    .women img{
    max-width: 100%;
    height: auto;
    }
    

   .men{
        flex-direction: column;
        flex: 100%;
        max-width: 90%;
        margin-left: 1%;
       margin-top: -20%;
   }

   .men img{
    max-width: 100%;
    height: auto;
   }

   .item3 p{
    text-align: start;
}

   .item4{
    height: auto;
    position: relative;
    transform: translate( 0px, 0px);
    max-width: 50%;
   }

   .gallery{
    flex-direction: column ;
    margin: 50px 5px;
    max-width: 100%;
    height: auto;
    padding: 0px;
   }

   .gallery img{
    max-width: 98%;
    height: auto;
   }

   .img1{
     margin-left: 5px;
   }

  
   .img2{
    
       position: relative;
       margin-top: -4%;
       margin-left: 10px;
   }
  }

  